<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/sideheader/tochaHeader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/cadastroCliente.css') }}">
    <title>TOCHA - Cadastro Cliente</title>
</head>
<body>
    <header>
        <div id="menu">
            <button id="sidebar_button"><i class="fa-solid fa-bars" id="sidebar_button_icon"></i></button>
            <span>
                <img src="{{ url_for('static', filename='images/sideheader/TOCHA-LOGO.png')}}" />
            </span>
        </div>
    </header>

    <nav id="sidebar">
        <ul id="side-itens">
            <li class="side-item">
                <a href="{{url_for('vendas.vendasValidade')}}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="item-description">
                        Vendas e Validade
                    </span>
                </a>
            </li>
            <li class="side-item active">
                <a href="{{url_for('cliente.cadastroCliente')}}">
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="item-description">
                        Cadastrar Cliente
                    </span>
                </a>
            </li>
            <li class="side-item">
                <a href="#">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span class="item-description">
                        Estoque
                    </span>
                </a>
            </li>
            <li class="side-item">
                <a href="{{url_for('vendas.registrarVenda')}}">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <span class="item-description">
                        Registrar Venda
                    </span>
                </a>
            </li>
        </ul>

        <ul id="side-itens-footer">
            <li class="side-item">
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="item-description">
                        Configurações
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

    <main id="cadastroCliente_main">
        <div id="cliente-TOCHA">
            <form method="POST" action="{{url_for('cliente.cadastrarCliente')}}" id="cliente-espaco">
                
                <label for="date-clienteform" id="label-date">
                    <span>Data:</span>
                    <input type="date" id="date-clienteform" class="input-clienteform" name="date-clienteform" />
                </label>

                <label for="cliente-clienteform" id="label-clienteform">
                    <span>Cliente:</span>
                    <input type="text" id="cliente-clienteform" class="input-clienteform" name="cliente-clienteform"/>
                </label>

                <div id="linha-endereco">
                    <label for="endereco-clienteform" id="label-endereco">
                        <span>Endereço:</span>
                        <input type="text"  id="endereco-clienteform" class="input-clienteform" name="endereco-clienteform"/>
                    </label>
                    <label for="numero_endereco-clienteform" id="label-numero_endereco">
                        <span>N°:</span>
                        <input type="text"  id="numero_endereco-clienteform" class="input-clienteform" name="numero_endereco-clienteform"/>
                    </label>
                </div>

                <div id="linha-endereco2">
                    <label for="cidade-clienteform" id="label-cidade">
                        <span>Cidade:</span>
                        <input type="text" id="cidade-clienteform" name="cidade-clienteform" />
                    </label>

                    <label for="cep-clienteform" id="label-cep">
                        <span>CEP:</span>
                        <input type="text" id="cep-clienteform" name="cep-clienteform"/>
                    </label>

                    <label for="estado-clienteform" id="label-estado">
                        <span>Estado:</span>
                        <select name="estado-clienteform" id="estado-clienteform" class="input-clienteform" name="estado-clienteform">
                            <option value="">Selecione...</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </label>
                </div>

                <div id="linha-contato">
                    <label for="email-clienteform" id="label-email">
                        <span>
                            E-Mail:
                        </span>
                        <input type="email" id="email-clienteform" class="input-clienteform" name="email-clienteform"/>
                    </label>

                    <label for="fone-clienteform" id="label-fone">
                        <span>
                            Fone:
                        </span>
                        <input type="tel" id="fone-clienteform" class="input-clienteform" name="fone-clienteform"/>
                    </label>
                </div>

                <div id="linha-botao">
                    <input type="submit" value="Enviar" id="enviar-clienteform" class="input-clienteform"/>
                </div>
            </form>
        </div>
    </main>
    
<script src="{{ url_for('static', filename='js/sideheader/sidebaranimation.js') }}"></script>
</body>
</html>