<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/sideheader/tochaHeader.css') }}">
    <script src="{{ url_for('static', filename='js/sideheader/sidebaranimation.js') }}"></script>
    <script src="{{ url_for('cliente.static', filename='js/cliente/detalhes-cliente.js') }}"></script>
    <title>TOCHA - Dados</title>
</head>
<body>
    <header>
        <div id="menu">
            <button id="sidebar_button"><i class="fa-solid fa-bars" id="sidebar_button_icon"></i></button>
            <span>
                <img src="{{ url_for('static', filename='images/sideheader/TOCHA-LOGO.png')}}" />
            </span>
        </div>
    </header>

    <nav id="sidebar">
        <ul id="side-itens">
            <li class="side-item">
                <a href="{{url_for('vendas.vendasValidade')}}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="item-description">
                        Vendas e Validade
                    </span>
                </a>
            </li>
            <li class="side-item">
                <a href="{{url_for('vendas.registrarVenda')}}">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <span class="item-description">
                        Registrar Venda
                    </span>
                </a>
            </li>
            <li class="side-item">
                <a href="{{url_for('cliente.listaClientes')}}">
                    <i class="fa-solid fa-users"></i>
                    <span class="item-description">
                        Clientes
                    </span>
                </a>
            </li>
            <li class="side-item active">
                <a href="{{url_for('cliente.cadastroCliente')}}">
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="item-description">
                        Cadastrar Cliente
                    </span>
                </a>
            </li>
            <li class="side-item">
                <a href="#">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span class="item-description">
                        Estoque
                    </span>
                </a>
            </li>
        </ul>

        <ul id="side-itens-footer">
            <li class="side-item">
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="item-description">
                        Configurações
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    <main id="dados_main">
        
    </main>
</body>
</html>