{% extends "sideheader.html" %}

{% block stylepage %}<link rel="stylesheet" href="{{ url_for('cliente.static', filename='/css/cadastroCliente.css') }}">{% endblock %}
{% block title_page %}Cadastrar Cliente{% endblock %}

{% block active_register_customer %}active{% endblock %}
{% block main %}
    <main id="cadastroCliente_main">
        <div id="cliente-TOCHA">
            <form method="POST" action="{{url_for('cliente.cadastrarCliente')}}" id="customer-space">
                <label for="customer-customerform" id="label-customerform">
                    <span>Cliente:</span>
                    <input type="text" id="customer-customerform" class="input-customerform" name="customer-customerform" autocomplete="off" required/>
                </label>

                <div id="address-line">
                    <label for="address-customerform" id="label-address">
                        <span>Endereço:</span>
                        <input type="text"  id="address-customerform" class="input-customerform" name="address-customerform" autocomplete="off" required/>
                    </label>
                    <label for="address_number-customerform" id="label-address_number">
                        <span>Número:</span>
                        <input type="text"  id="address_number-customerform" class="input-customerform" name="address_number-customerform" autocomplete="off" required/>
                    </label>
                </div>

                <div id="address-line2">
                    <label for="city-customerform" id="label-city">
                        <span>Cidade:</span>
                        <input type="text" id="city-customerform" name="city-customerform" autocomplete="off" class="input-customerform" required/>
                    </label>

                    <label for="postal_code-customerform" id="label-postal_code">
                        <span>CEP:</span>
                        <input type="text" id="postal_code-customerform" name="postal_code-customerform" autocomplete="off" class="input-customerform" placeholder="00000-000" data-mask="00000-000" required/>
                    </label>

                    <label for="state-customerform" id="label-state">
                        <span>Estado:</span>
                        <select name="state-customerform" id="state-customerform" class="input-customerform" required>
                            <option value="">Selecione...</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </label>
                </div>
                <br>
                <label for="document-customerform" id="label-document">
                    <select class="input-customerform" id="doctype-customerform" name="doctype-customerform">
                        <option value="Docnull">...</option>
                        <option value="CPF">CPF</option>
                        <option value="CNPJ">CNPJ</option>
                    </select>
                    <span><input type="text" id="document-customerform" name="document-customerform" class="input-customerform" autocomplete="off" required/></span>
                </label>
                <div id="contact-line">
                    <label for="email-customerform" id="label-email">
                        <span>E-Mail:</span>
                        <input type="email" id="email-customerform" class="input-customerform" name="email-customerform" autocomplete="off" required/>
                    </label>

                    <label for="phone-customerform" id="label-phone">
                        <span>Telefone:</span>
                        <input type="tel" id="phone-customerform" class="input-customerform" name="phone-customerform" autocomplete="off" inputmode="tel" placeholder="(00) 00000-0000" data-mask="(00) 00000-0000"/>
                    </label>
                </div>
                <br>
                <div id="button-line">
                    <input type="submit" value="Enviar" id="submit-customerform" class="input-customerform"/>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
{% block scripts %}
<!-- jQuery Imports -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- Input Mask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<!-- Input Date and Number -->
<script src="{{ url_for('cliente.static', filename='js/input-rules.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
