<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/sideheader/tochaHeader.css') }}">
    {% block stylepage %}{% endblock %}
    <title>{% block titlepage %}{% endblock %}</title>
</head>
<body>
    <header>
        <div id="menu">
            <button id="sidebar_button"><i class="fa-solid fa-bars" id="sidebar_button_icon"></i></button>
            <span>
                <img src="{{ url_for('static', filename='images/sideheader/TOCHA-LOGO.png')}}" />
            </span>
        </div>
    </header>

    <nav id="sidebar">
        <ul id="side-itens">
            <li class="side-item {% block classactivevendasvalidade %}{% endblock %}">
                <a href="{{url_for('vendas.vendasValidade')}}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="item-description">
                        Vendas e Validade
                    </span>
                </a>
            </li>
                <li class="side-item {% block classactiveregistrarvendas %}{% endblock %}">
                <a href="{{url_for('vendas.registrarVenda')}}">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <span class="item-description">
                        Registrar Venda
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactivelistaclientes %}{% endblock %}">
                <a href="{{url_for('cliente.listaClientes')}}">
                    <i class="fa-solid fa-users"></i>
                    <span class="item-description">
                        Clientes
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactivecadastrocliente %}{% endblock %}">
                <a href="{{url_for('cliente.cadastroCliente')}}">
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="item-description">
                        Cadastrar Cliente
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactiveestoque %}{% endblock %}">
                <a href="#">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span class="item-description">
                        Estoque
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactivecadastrarproduto %}{% endblock %}">
                <a href="#">
                    <i class="fa-solid fa-boxes-packing"></i>
                    <span class="item-description">
                        Cadastrar Produto
                    </span>
                </a>
            </li>
        </ul>

        <ul id="side-itens-footer">
            <li class="side-item {% block classactiveconfiguracoes %}{% endblock %}">
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="item-description">
                        Configurações
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    {% block main %}{% endblock %}
    <script src="{{ url_for('static', filename='js/sideheader/sidebaranimation.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>